*~
._*
*.ali
*.o
*.db
*.out
*.log.*
*log.200*
*.orig
*.patch
**b~*
bin/
obj/
Debug/
debug/
Release/
release/
*.obj
\#*
.\#*
*.log
*.pdb
*.ncb
*.user
*.idb
*.dep
*.suo
BuildLog.htm
/debug/
/fltk-1.1.9/
Pinocchio/libpinocchio.a
AttachWeights/attachWeights
AttachWeights/AttachWeights
AttachWeights/AttachWeights.exe
AttachWeights/AttachWeightsMac
AttachWeights/AttachWeightsLinux
